body
{
	background-image: url("img/bg.png");
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.navbar-nav
{
	min-height: 57px;
	font-size: 25px;
	
}

#container
{
    /*background-color: #6c757d;*/
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 7px;
}

#tableTitle
{
    background-color: #3388FF;
    font-size: 20px;
    padding: 10px;
    width: 350px;
    height: 50px;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    float: left;
}

#categoryEdit :hover
{
    background-color: #3388FF;
    border-radius: 7px;
}

#addNew
{
    background-color: #80d97c;
    font-size: 20px;
    width: 105px;
    height: 50px;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    float: left;
}

#addNew :hover
{
    background-color: #60eb59;
    border-radius: 7px;
}


.categoryName
{
    color: black;
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
    width: 350px;
    height: 50px;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}
.categoryEdit
{
    background-color: #8baffc;
    font-size: 32px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}

.categoryEdit :hover
{
    background-color: #3388FF;
    border-radius: 7px;
}

.categoryRemove
{
    background-color: #ed9187;
    font-size: 32px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 5px;
    float: left;
}

.categoryRemove :hover
{
    background-color: red;
    border-radius: 7px;
}

a.buttonLink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
    text-align: center;
	width: 50px;
	height: 50px;
}

a.addLink
{
	color: #ffffff;
    padding: 10px;
	text-decoration: none;
	display: block;
    text-align: center;
    width: 105px;
	height: 50px;
}

.error
{
    color: red;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center
}
.success
{
    color: lawngreen;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center
}

.tile
{
	color: black;
	font-size: 36px;
	margin-top: 30px;
	width: 100%;
	height: 350px;
	background-color: #DCDCDC;
	float: left;
	text-align: center;
	padding-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
}

.tile:hover
{
	cursor: pointer;
	background-color: #3E96FF;
}

.modal-header
{
   color: black;
}
.modal-body
{
   color: black;
}

input[type=text],
input[type=date],
input[type=password],
select
{
	background-color: #efefef;
	width: 400px;
	padding: 10px;
	margin-bottom: 20px;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=password]:focus,
select:focus
{
	-webkit-box-shadow: 0px 0px 10px 3px rgba(204,204,204,0.55);
	-moz-box-shadow: 0px 0px 10px 3px rgba(204,204,204,0.55);
	border:2px solid #3388FF;
	background-color:  #CDE4FF;
	color: #000099;
}

input[type=submit]
{
    width: 100px;
    height: 38px;
    background-color: #0563e8;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

input[type=submit]:hover
{
    background-color: #3388FF;
}


