body
{
	background-image: url("img/bg.png");
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.mainContainer
{
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.tiles
{
	text-align: center;
    /*width : 1800px;
    margin-left: auto;
    margin-right: auto;*/
    
}

.tiles img
{
	width: 100%;
	height: auto;
}

.navbar-nav
{
	min-height: 57px;
	font-size: 25px;
	
}

.error
{
    color: red;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center
}
.success
{
    color: lawngreen;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center
}

.tile
{
	color: black;
    border-radius: 7px;
	font-size: 36px;
	margin-top: 30px;
	width: 100%;
	height: 410px;
	background-color: #DCDCDC;
	float: left;
	text-align: center;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
    
}

.tile:hover
{
	cursor: pointer;
	background-color: #3E96FF;
}
.tile .incomeTile
{
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: auto;
	height: 100px;
    border-color: black;
    border-radius: 7px;
    color: white;
    padding-top: 15px;
}

.tile .incomeTile .tileDescribe
{
    color: white;
    font-size: 12px;
}

.tile .expenseTile
{
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: auto;
	height: 100px;
    border-color: black;
    border-radius: 7px;
    color: white;
    padding-top: 15px;
}

.tile .expenseTile .tileDescribe
{
    color: white;
    font-size: 12px;
}

.tile .balanceTile
{
    background-color: #4d4d4d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: auto;
	height: 100px;
    border-color: black;
    border-radius: 7px;
    color: white;
    padding-top: 15px;
}

.tile .balanceTile .tileDescribe
{
    color: white;
    font-size: 12px;
}

.img1
{
	width: 100px;
	margin: auto;
}

.modal-header
{
   color: black;
}
.modal-body
{
   color: black;
}

input[type=text],
input[type=date],
input[type=password],
input[type=number],
select
{
	background-color: #efefef;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=password]:focus,
input[type=number]:focus,
select:focus
{
	-webkit-box-shadow: 0px 0px 10px 3px rgba(204,204,204,0.55);
	-moz-box-shadow: 0px 0px 10px 3px rgba(204,204,204,0.55);
	border:2px solid #3388FF;
	background-color:  #CDE4FF;
	color: #000099;
}

input[type=submit]
{
    width: 100px;
    height: 38px;
    background-color: #0563e8;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

input[type=submit]:hover
{
    background-color: #3388FF;
}

.table
{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 20px;
    width: 1300px;
    
}

.categoryEdit
{
    background-color: #8baffc;
    font-size: 25px;
    width: 70px;
    height: 40px;
    border-radius: 7px;
    /*margin-bottom: 5px;*/
    margin-right: 5px;
    float: left;
}

.categoryEdit :hover
{
    background-color: #3388FF;
    border-radius: 7px;
}

.categoryRemove
{
    background-color: #ed9187;
    font-size: 25px;
    width: 70px;
    height: 40px;
    border-radius: 7px;
    /*margin-bottom: 5px;*/
    float: left;
}

.categoryRemove :hover
{
    background-color: red;
    border-radius: 7px;
}

a.buttonLink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
    text-align: center;
	width: 70px;
	height: 40px;
}

.tableTitle
{
    background-color: #3E96FF;
    text-align: center;
    font-size: 25px; 
    padding: 10px;
    margin-top: 40px;
}

thead
{
    background-color: #3E96FF;
}


a.addLink
{
	color: #ffffff;
    padding: 5px;
	text-decoration: none;
	display: block;
    text-align: center;
    width: 145px;
	height: 40px;
}

#addNew
{
    background-color: #6ed16b;
    font-size: 20px;
    width: 145px;
    height: 40px;
    border-radius: 7px;
    text-align: center;
    float: left;
}

#addNew :hover
{
    background-color: #20bd19;
    border-radius: 7px;
}